@import './common.scss';

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* スクロールバーを非表示にする */
}

.code-list-container {
  padding: 0;
  margin: 0;
  @include default-background;
  height: 100vh;
  text-align: center;
  overflow: auto; /* scroll ではなく auto に変更 */

  .serch-container {
    margin-top: 82px;
    margin-bottom: 5px;
    input {
      display: inline-block;
      width: 50%;
      border: 2px solid #000;
      border-radius: 5px;
      outline: none;
      padding: 0px 8px;
      margin-right: 5px;
      font-family: "Koulen";
    }
  }
  
  .view-container {
    display: inline-block;
    width: 85%;
    font-family: "Koulen";
  }
}
