@import './common.scss';

.code-section-container {
    background: $light-blue;
    border-radius: 15px;
    border: 4px solid #000;
    margin-top: 15px;
    position: relative;

    p.chapter-name {
        width: calc(100% + 8px);
        color: #fff;
        padding: 0 20px;
        background: $blue;
        border-radius: 15px;
        border: 4px solid #000;
        margin: 0;
        position: absolute;
        top: -4px;
        left: -4px;
        box-sizing: border-box;
    }
    p.section-name {
        width: calc(100% + 6px);
        padding: 0 20px;
        background: $middle-blue;
        border: 3px solid #000;
        border-radius: 12px;
        position: absolute;
        top: -3px;
        left: -3px;
        margin: 0;
        box-sizing: border-box;
    }
    .sq-container {
        width: 85%;
        position: relative;
        background: $more-light-blue;
        border: 3px solid #000;
        border-radius: 12px;
        margin: 80px auto 25px;
        padding: 50px 20px 10px;

        h3 {
            margin: 30px 0 10px;
            font-size: 20px;
        }

        .md-container {
            color: #222;
            font-size: smaller;
            background: rgba(255,255,255,0.7);
            padding: 20px 30px;
            border-radius: 5px;
            pre, code {
                color: #000;
                background: #ddd;
            }
        }

        div {
            font-family: Consolas, Menlo, Monaco, -apple-system, BlinkMacSystemFont, "Segoe UI", Meiryo, monospace;
            pre {
            margin: 1em 0;
            padding: 1em;
            border-radius: 5px;
            background: #263238;
            color: #fff;
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
            }
            pre:hover {
                cursor: pointer;
            }
            
        }
    }
}