@import './common.scss';

.login-container {
  display: flex;
  align-items: center;
  
  .logo-container {
    height: 100vh;
    width: 30%;
    background: $dark-blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    img {
      width: 100%;
    }
  }
  
  .form-container {
    @include default-background;
    height: 100vh;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
