@import './common.scss';

nav{
    display: flex;
    width: 100%;
    background: #17152C;
    margin: 0;
    padding: 0;
    position: absolute;

    a.logo{
        margin: 0 auto;
    }

    img.logo{
        width: 280px;
        margin: 0 auto;
    }

    // img.user{
    //     width: 50px;
    //     margin-left: auto;
    // }
}